
// Your custom settings file to override Foundation defaults
@import "settings";

// Comment out this import if you are customizing you imports below
@import "foundation";

// ----------------------------------------
// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

@import "compass/css3";
@import "foundation/settings";
// @import "foundation/functions/all";

// Control which mixins you have access too

// @import "foundation/mixins/clearfix";
// @import "foundation/mixins/css-triangle";
// @import "foundation/mixins/font-size";

// Must include next two for semantic grid to work

// @import "foundation/mixins/respond-to";
// @import "foundation/mixins/semantic-grid";

// @import "modular-scale";
// @import "foundation/common/globals";

// Must include the grid for any responsiveness

// @import "foundation/components/grid";

// Control which common styles get compiled

// @import "foundation/common/typography";
@import "foundation/common/forms";

// Control which components you get if customizing

@import "foundation/components/modules/buttons";
// @import "foundation/components/modules/tabs";
// @import "foundation/components/modules/ui";
// @import "foundation/components/modules/topbar";
// @import "foundation/components/modules/navbar";
// @import "foundation/components/modules/orbit";
// @import "foundation/components/modules/reveal";
@import "foundation/components/modules/offcanvas";

// Media Queries Overrides
// @import "foundation/components/modules/mqueries";

/*
* Allkiri.ee simple style
* Base style Zurb Foundation 3
* made by Mare Hunt 2012 marehunt.era.ee
* for Deskrock www.deskrock.ee
*/
/* Table of Content
==================================================
    #Overrides
    #Site Styles
    #Page Styles
    #Media Queries
    #Font-Face */

/* #Overrides for default Foundation
================================================== */
h1, h2, h3, h4, h5 {
    font-family: 'Open Sans', "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif;
    font-weight: 300;
}

.top-bar {
    margin: 0;
}

label {
    font: inherit;
    line-height: 1.6;
}

.has-tip {
    font-weight: normal;
}

/* #Site Styles
================================================== */
#subtop {
    background-color: #E6E6E6;
    overflow: auto;
    width: 100%;
    padding: auto;
    li {
        padding-left: 15px;
        line-height: 4;
    }
}

.numbercircle {
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;

    width: 42px;
    height: 42px;
    padding: 15px;
    
    background-color: #fff;

    color: #666;
    text-align: left;
    
    font-size: 32px;
    font-family: 'Open Sans', "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif;
    font-weight: 300;
    line-height: 0.2;
}​
 

/* #Page Styles
================================================== */

/* #Index
================================================== */

#choose {
    margin: 120px auto;
}

#partners img  {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%); 
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%); 
    -o-filter: grayscale(100%);
    &:hover {
        filter: grayscale(0%);
        -webkit-filter: grayscale(0%); 
        -moz-filter: grayscale(0%);
        -ms-filter: grayscale(0%); 
        -o-filter: grayscale(0%);
    }
}
#enter p { padding-top: 20px;}


/* #Portaal
================================================== */

#portal ul.accordion > li > div.title {
    padding: 7px;
    text-align: center;
}

#portal ul.accordion > li > div.title::after {
    top: 12px;
}

#portal ul.accordion {
    margin-bottom: 0;
}

#contract.panel p {
    color: #080808;
    font-family: Cambria, "Hoefler Text", Georgia, "Times New Roman", serif;
    font-size: 1.3em;
    margin: 1.2em 3em 1.2em 1.2em;
}

#contract.panel {
    background: white;
}