/*
* Allkiri.ee custom style
* Base style Zurb Foundation 3
* made by Mare Hunt 2012 marehunt.era.ee
* for Deskrock www.deskrock.ee
*/
/* Table of Content
==================================================
    #Overrides
    #Site Styles
    #Page Styles
    #Media Queries
    #Font-Face */
/* #Overrides for default Foundation
================================================== */
@-webkit-keyframes greenPulse {
  /* line 25, ../sass/layout.scss */
  from {
    background-color: #749a02;
    -webkit-box-shadow: 0 0 9px #333;
  }

  /* line 26, ../sass/layout.scss */
  50% {
    background-color: #91bd09;
    -webkit-box-shadow: 0 0 18px #91bd09;
  }

  /* line 27, ../sass/layout.scss */
  to {
    background-color: #749a02;
    -webkit-box-shadow: 0 0 9px #333;
  }
}

/* line 30, ../sass/layout.scss */
a.green.button {
  -webkit-animation-name: greenPulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}

/* line 36, ../sass/layout.scss */
h2, h3 {
  font-family: 'Open Sans', serif;
}

/* line 40, ../sass/layout.scss */
p {
  font-family: 'Open Sans', serif;
}

/* line 43, ../sass/layout.scss */
body {
  background: #f8f7f2;
  z-index: 1;
}

/* line 47, ../sass/layout.scss */
body:after {
  content: "";
  background: url("../images/bg_footer_swirl.png") repeat;
  height: 100%;
  width: 100%;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  position: absolute;
}

/* line 59, ../sass/layout.scss */
#contract.panel {
  background: white;
}

/* line 64, ../sass/layout.scss */
h2 {
  text-align: center;
  text-shadow: 0 1px 1px white;
  color: #92989E;
  font-size: 18px;
}

/* line 71, ../sass/layout.scss */
h2 span {
  padding-left: 10px;
  padding-right: 10px;
  background-color: #F4F5F5;
}

/* line 78, ../sass/layout.scss */
#choose {
  background-color: #fffeff;
  padding: 10px;
  border: 1px solid #bbbfc2;
  min-height: 180px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  -moz-box-shadow: #dadee1, 0px, 1px, 10px;
  -webkit-box-shadow: #dadee1, 0px, 1px, 10px;
  box-shadow: #dadee1, 0px, 1px, 10px;
  display: block;
  -webkit-transition: all 0.10s ease-in-out;
  -moz-transition: all 0.10s ease-in-out;
  -webkit-background-clip: padding-box;
}

/* line 94, ../sass/layout.scss */
#choose:hover {
  -moz-box-shadow: #60a2e3 0px 0px 2px;
  -webkit-box-shadow: #60a2e3 0px 0px 2px;
  box-shadow: #60a2e3 0px 0px 2px;
  -moz-box-shadow: 0px 0px 2px #60a2e3;
  border: 1px solid #60a2e3;
  -webkit-transition: all 0.10s ease-in-out;
  -moz-transition: all 0.10s ease-in-out;
  position: relative;
}

/* line 104, ../sass/layout.scss */
.oldshadow {
  background: #f8f7f2;
  -moz-box-shadow: inset #ebebeb 0px 0px 50px;
  -webkit-box-shadow: inset #ebebeb 0px 0px 50px;
  box-shadow: inset #ebebeb 0px 0px 50px;
}

/* line 110, ../sass/layout.scss */
.custom {
  border: 2px solid #304134;
  -moz-box-shadow: inset #3e4e42 0px 0px 25px, black 0px 2px 2px;
  -webkit-box-shadow: inset #3e4e42 0px 0px 25px, black 0px 2px 2px;
  box-shadow: inset #3e4e42 0px 0px 25px, black 0px 2px 2px;
  background: #4f6452 url("../images/btn_green.jpg") repeat-x;
  font-family: 'Cambria';
  text-transform: uppercase;
}

/* line 121, ../sass/layout.scss */
.top-bar {
  background: transparent;
  height: 109px;
}

/* line 126, ../sass/layout.scss */
#topbar {
  background: transparent url("../images/topbar.png") repeat-x;
}

/* line 130, ../sass/layout.scss */
#logocontainer {
  padding-left: 15px;
}

/* line 134, ../sass/layout.scss */
#logo {
  background: transparent url("../images/logo.png") no-repeat;
  width: 219px;
  height: 109px;
}

/* line 140, ../sass/layout.scss */
#subtop {
  background: #4f6452 url("../images/greenenoise.jpg") repeat;
  -moz-box-shadow: inset #3e4e42 0px 0px 25px, black 0px 2px 2px;
  -webkit-box-shadow: inset #3e4e42 0px 0px 25px, black 0px 2px 2px;
  box-shadow: inset #3e4e42 0px 0px 25px, black 0px 2px 2px;
  margin-top: -45px;
}

/* line 146, ../sass/layout.scss */
#subtop-inner {
  background: transparent url("../images/glow.jpg") no-repeat center 0;
}

/* line 151, ../sass/layout.scss */
#subtop-content {
  margin: 30px auto;
}
/* line 153, ../sass/layout.scss */
#subtop-content h5 {
  color: white;
  text-shadow: 1px 1px 1px #000;
  text-align: right;
}
